@charset "utf-8";
header{
	 background-color:#2A9D8F;
	height: 58px;
	  font-size: 30px

	
	
	
	
	
      }

.table{  border-radius: 40px;                                   }
.table1{          border-radius: 30px;          background-color:#FFB5A7;  justify-content: center; text-align: center}

body{  margin: 0px; padding: 0px                               }
.dont-worry{ margin: 10px 3px 3px 6px;                                    }



.modern-navbar {
    background-color: #333; 
    display: flex;          
    justify-content: center;
    align-items: center;   
    padding: 15px 10px;     
    width: 100%;            
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    flex-wrap: wrap;        
    box-sizing: border-box; 
}

.modern-navbar a {
    color: #f2f2f2;           
    text-align: center;     
    padding: 14px 32px;    
    text-decoration: none;  
    font-size: 18px;        
    font-family: 'Arial', sans-serif; 
    transition: background-color 0.3s ease, color 0.3s ease;
	border-radius: 40px;
}


.modern-navbar a:hover {
    background-color: #ddd; 
    color: #333;    
}



.modern-navbar a.button {
    background-color: #04AA6D;  
    color: white;
    border-radius: 5px; 
	margin-left: 30px;}

.modern-navbar a.button:hover {
    background-color: #038a57;
}

.logo img{
	height: 50px;
	display: block;
	border-radius: 40px
	
}
	

body{  margin: 0px; padding: 0px                               }
.logo{padding-right: 20px}


.contact a{
  text-decoration:none;
	margin-top: 5px;
	
	
	
	
	
}


.contact{ 
border:5px solid #2A9D8F;
	justify-content: center;
	border-radius:17px;
	width: 200px;
	margin: auto;
	margin-bottom: 10px;
	 display: inline-block
		
	




}
	
	
	
	
	
	
	
	
}


.first_tr{
	color: chocolate;
	font: small-caps;
	
	
	
	
	
	
}
.btn {
    display: inline-block;
    padding: 10px 25px;
    border: 5px solid #2A9D8F;
    color: #2A9D8F;
    text-decoration: none;
    border-radius: 30px;
    margin-top: auto; 
    transition: all 0.4s ease;
}



.btn a{
	color: #2A9D8F;
	text-decoration: none;
	font-size: 15px;
	
	
	
}

.btn:hover{
	background-color: #2A9D8F;
	color: white;
	
	
	
	
	
	
}


.line{
	display: inline-block;
	
	
	
	
	
}