body {
    margin: 0;
    padding: 0;
    background-color: #F4F1DE;
}

header {
    background-color: #2A9D8F;
    height: 58px;
    font-size: 30px;
}

.modern-navbar {
    background-color: #333; 
    display: flex;          
    justify-content: center;
    align-items: center;   
    padding: 15px 10px;     
    width: 100%;            
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    flex-wrap: wrap;        
    box-sizing: border-box; 
}


.modern-navbar a {
    color: #f2f2f2;           
    text-align: center;     
    padding: 14px 32px;    
    text-decoration: none;  
    font-size: 18px;        
    font-family: 'Arial', sans-serif; 
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 40px; 
}

.modern-navbar a:hover {
    background-color: #ddd; 
    color: #333;    
}

.logo {
    padding-right: 20px;
}

.logo img {
    height: 50px;
    display: block;
    border-radius: 40px;
}

.gallery-container {
    padding: 20px;
    text-align: center; 
}

.gallery-item {
    display: inline-block; 
    margin: 20px;          
    vertical-align: top;   
}

.gallery-item img {
    border: 5px solid #E76F51; 
    border-radius: 40px;       
    max-width: 450px;          
    height: auto;              
    transition: transform 0.3s ease, border 0.3s ease; 
}

.gallery-item img:hover {
    border: 6px solid #264653 !important; 
    transform: scale(1.02);  
}

.dont-worry {
    margin: 10px 3px 3px 6px;
}

.master {
    width: 100%;
    margin: 0 auto;
}

.radi-header {
    text-align: left;      
    padding-left: 40px;    
    padding-top: 20px;   
	padding-bottom: 10px;  }


	
